Django==2.0.2
django-leaflet==0.23.0
django-filter==1.1.0
djangorestframework==3.7.7
djangorestframework-gis==0.12
earthengine-api==0.1.135
geoip2==2.7.0
geopy==1.12.0
google-api-python-client==1.6.5
gunicorn==19.7.1
model_mommy==1.5.1
numpy==1.14.1
psycopg2==2.7.4
psycopg2-binary==2.7.4
pytz==2018.3
scipy==1.0.0
