{% load leaflet_tags %}
<html>
  <head>
    <script type="module">export {Spinner};</script>
    {% leaflet_js %}
    {% leaflet_css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
      <style>
      .leaflet-container {
        height: 100%;
      }
    </style>
    <script type="text/javascript">
      // Estimated location with GeoIP2
      var baseLocation = {{ location | safe }};
      var baseStations = {{ base_stations }};
      var heatmap = {{heatmap}}

   

      window.addEventListener("map:init", function(event) {
        var map = event.detail.map;
        for(i = 0; i < baseStations.length; i++) {
            L.marker({lon: baseStations[i][0], lat: baseStations[i][1]}).addTo(map);
        }      
        map.setView({lon: baseLocation[0], lat: baseLocation[1]}, 17);
        var heat = L.heatLayer(heatmap, {radius: 25, gradient: {0.4: 'blue', 0.65: 'lime', 1: 'red'}}).addTo(map);
        map.on('click', function(e){
          var popup = L.popup();
          
          popup
          .setLatLng(e.latlng)
          .setContent("You clicked the map at " + e.latlng.toString())
          .openOn(map);
        });

      });
    </script>
  </head>
  <body>
    {% leaflet_map 'main' %}
  </body>
</html>
