{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container {
        height: 100%;
      }
    </style>
    <script type="text/javascript">
      var baseLocation = {{ location | safe }};
      var baseURL = "{% url 'api:base-station-list' %}";

      window.addEventListener("map:init", function(event) {
        var map = event.detail.map;
        map.setView(baseLocation, 15);
        // Get data from API
        var fetchBaseStation = function(url) {
          fetch(url).then(function(resp) {
            // Convert to GeoJSON
            return resp.json();
          }).then(function(data) {
            // Iterate over every feature and add to map
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, marker) {
                var props = feature.properties;
                marker.bindTooltip(`${props.cgi} (${props.radio})`);
            }}).addTo(map);
            return data["next"];
          // Try next page of API
          }).then(function(new_url) {
            if (new_url != null) {
              fetchBaseStation(new_url);
            }
          });
        };
        fetchBaseStation(baseURL);
      });
    </script>
  </head>
  <body>
    {% leaflet_map 'main' %}
  </body>
</html>
