<html>
  <head>
   
  </head>
  <body>
    <ul>
        <li>
            <a href="{% url 'taguchi'  %}?min_lat=-46.74&max_lat=-46.70&min_long=-23.58&max_long=-23.55">
                Taguchi
            </a>
        </li>
        <li>
            <a href="{% url 'slsqp'  %}?min_lat=-46.74&max_lat=-46.70&min_long=-23.58&max_long=-23.55">
                SLSPQ
            </a>
        </li>
        <li>
            <a href="{% url 'basinhopping'  %}?min_lat=-46.74&max_lat=-46.70&min_long=-23.58&max_long=-23.55">
                Basinhopping
            </a>
        </li>
    </ul>    
  </body>
</html>
