{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container {
        height: 100%;
      }
    </style>
    <script type="text/javascript">
      // Estimated location with GeoIP2
      var baseLocation = {{ location | safe }};

      window.addEventListener('map:init', function(event) {
        var map = event.detail.map;
        map.setMaxZoom(19);
        map.fetchID = 0;

        // also used as MarkerClusterGroup option iconCreateFunction
        var iconCreateFunction = function (cluster) {
          var count = 0;
          if (cluster.getAllChildMarkers) { // markercluster plugin call
              var children = cluster.getAllChildMarkers();
              for (var i = 0; i < children.length; i++) {
                  if (children[i].count)
                      count += children[i].count;
                  else
                      count++;
              }
          }
          else if (cluster.count) { // custom call
              count = cluster.count;
          }
          if (count == 1) { // actual marker
              cluster.bindTooltip(`${cluster.data}`);
              return new L.Icon.Default();
          }
          // cluster icon
          var c = 'marker-cluster-';
          if (count < 25) {
              c += 'small';
          } else if (count < 250) {
              c += 'medium';
          } else {
              c += 'large';
          }
          return new L.DivIcon({
              html: '<div><span>' + count + '</span></div>',
              className: 'marker-cluster ' + c,
              iconSize: new L.Point(40, 40)
          });
        }

        // Function to fetch clusters from API
        var fetchClusters = function(url, id) {
          // After changing pan/zoom, stop fetching from previous screen
          if (map.fetchID == id) {
            fetch(url).then(function(resp) {
              // Convert to GeoJSON
              return resp.json();
            }).then(function(data) {
              // Iterate over every feature and add to map
              layer = L.featureGroup.subGroup(map.markerClusterGroup);
              L.geoJson(data, {
                onEachFeature: function onEachFeature(feature, marker) {
                  var props = feature.properties;
                  marker.count = props.count;
                  // If it is not a cluster, add data to marker
                  if (!props.is_cluster) {
                    marker.data = props.data;
                  }
                  layer.addLayer(marker);
                },
              });
              layer.removeOnPan = true;
              map.addLayer(layer);
              return data['next'];
            // Try next page of API
            }).then(function(new_url) {
              if (new_url) {
                fetchClusters(new_url, id);
              } else {
                map.addLayer(map.markerClusterGroup);
                map.spin(false);
              }
            });
          }
        }

        // After zooming, clear markers
        map.on('moveend', function(e) {
          map.spin(true);
          map.fetchID = (map.fetchID % 9007199254740991) + 1;
          map.eachLayer(function(layer) {
            if (layer.removeOnPan) {
              map.removeLayer(layer);
            }
          });
          // map.spin(true);
          map.markerClusterGroup = L.markerClusterGroup({
            showCoverageOnHover: false,
            iconCreateFunction: iconCreateFunction,
          });
          map.markerClusterGroup.removeOnPan = true;
          var zoom = map.getZoom();
          var bbox = map.getBounds().toBBoxString();
          var baseURL = "{% url 'api:cluster-list' %}?zoom_size=" + zoom + "&in_bbox=" + bbox;
          fetchClusters(baseURL, map.fetchID);
        });

        // Attempt to get location with Geolocation API to update view
        map.locate().on('locationfound', function(e) {
          map.setView([e.latitude, e.longitude], 17);
        }).on('locationerror', function(e) {
          map.setView(baseLocation, 17);
        });
      });
    </script>
  </head>
  <body>
    {% leaflet_map 'main' %}
  </body>
</html>
