{% load leaflet_tags %}
<html>
  <head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container {
        height: 100%;
      }
    </style>
    <script type="text/javascript">
      // Estimated location with GeoIP2
      var baseLocation = {{ location | safe }};

      window.addEventListener('map:init', function(event) {
        var map = event.detail.map;
        map.setMaxZoom(19);
        map.fetchID = 0;

        // Function to fetch base stations from API
        var fetchBaseStations = function(url, id) {
          // After changing pan/zoom, stop fetching from previous screen
          if (map.fetchID == id) {
            fetch(url).then(function(resp) {
              // Convert to GeoJSON
              return resp.json();
            }).then(function(data) {
              // Iterate over every feature and add to map
              layer = L.geoJson(data, {
                onEachFeature: function onEachFeature(feature, marker) {
                  var props = feature.properties;
                  marker.bindTooltip(`${props.cgi} (${props.radio})`);
              }});
              layer.removeOnPan = true;
              map.markerClusterGroup.addLayer(layer);
              return data['next'];
            // Try next page of API
            }).then(function(new_url) {
              if (new_url) {
                fetchBaseStations(new_url, id);
              } else {
                map.addLayer(map.markerClusterGroup);
                map.spin(false);
              }
            });
          }
        }

        // Function to fetch clusters from API
        var fetchClusters = function(url, id) {
          // After changing pan/zoom, stop fetching from previous screen
          if (map.fetchID == id) {
            fetch(url).then(function(resp) {
              // Convert to GeoJSON
              return resp.json();
            }).then(function(data) {
              // Iterate over every feature and add to map
              layer = L.featureGroup.subGroup(map.markerClusterGroup);
              L.geoJson(data, {
                onEachFeature: function onEachFeature(feature, marker) {
                  var props = feature.properties;
                  if (props.count == 1) {
                    marker.bindTooltip(`${props.data}`);
                    layer.addLayer(marker);
                  } else {
                    latLng = marker.getLatLng();
                    layer.addLayer(marker);
                    for (var i = 0; i < props.count - 1; i++) {
                      layer.addLayer(L.marker(latLng));
                    }
                  }
                },
              });
              layer.removeOnPan = true;
              map.addLayer(layer);
              return data['next'];
            // Try next page of API
            }).then(function(new_url) {
              if (new_url) {
                fetchClusters(new_url, id);
              } else {
                map.addLayer(map.markerClusterGroup);
                map.spin(false);
              }
            });
          }
        }

        // After zooming, clear markers
        map.on('moveend', function(e) {
          // map.spin(true);
          map.fetchID = (map.fetchID % 9007199254740991) + 1;
          map.eachLayer(function(layer) {
            if (layer.removeOnPan) {
              map.removeLayer(layer);
            }
          });
          map.markerClusterGroup = L.markerClusterGroup({"showCoverageOnHover": false});
          map.markerClusterGroup.removeOnPan = true;
          var zoom = map.getZoom();
          var bbox = map.getBounds().toBBoxString();
          if (zoom <= {{ max_zoom }}) {
            var baseURL = "{% url 'api:cluster-list' %}?zoom_size=" + zoom + "&in_bbox=" + bbox;
            fetchClusters(baseURL, map.fetchID);
          } else {
            var baseURL = "{% url 'api:base-station-list' %}?in_bbox=" + bbox;
            fetchBaseStations(baseURL, map.fetchID);
          }
        });

        // Attempt to get location with Geolocation API to update view
        map.locate().on('locationfound', function(e) {
          map.setView([e.latitude, e.longitude], 17);
        }).on('locationerror', function(e) {
          map.setView(baseLocation, 17);
        });
      });
    </script>
  </head>
  <body>
    {% leaflet_map 'main' %}
  </body>
</html>
